* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(28, 27, 27);
}
button {
  position: fixed;
}

.btn {
  top: 30px;
  left: 50px;
}

.izquierda {
  top: 60px;
}
